<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Itens</title>
</head>
<body>

    <nav>
        <article id="logo">
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Itens disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
    </ul>
    </nav>

    <header>
       
    </header>

    <section id="details">
        <h2 id="nomeitem">
            <%= produto.nome_produto %><span style="font-weight: 50"></span>
        </h2>
        <img src="<%= produto.imagem %>" alt="">
        <div id="infos">
            <p id="descricao">
                <%= produto.descricao %>    
            </p>
            <br>
            <div id="info-datail">
                <div class='col' id="primeiraColuna">
                    <h4>Tipo: <%= produto.tipo %></h4>
                
                    <h4>Categoria: <%= produto.categoria %></h4>

                    <h4>Bairro: <%= produto.bairro %></h4>

                    <h4>UF: <%= produto.estado %></h4>

                    <h4>Informação adicional: <%= produto.info %></h4>

                    <br>
                    <form action="/deletar" method="POST">
                    <a id= bt  href="/deletar/<%= produto.id %>"><button type="button" class="btn btn-primary">Deletar</button></a>
                    </form>

                    <form action="/editar" method="POST"></form>
                    <a id= bt  href="/editar/<%= produto.id %>"><button type="button" class="btn btn-primary">Editar</button></a>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <br>
    
    
    </section>


    <script src="/js/script.js"></script>

</body>

</html>