<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Itens</title>
</head>
<body>

    <nav>
        <article id="logo">
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Itens disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
    </ul>
    </nav>

    <header>
       
    </header>

    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    
    <% if(produto != null) {  %>
    <section id="inscrever">

        <form action="/editar/<%= produto.id %>" method="POST">
            <div>
                <label for="nome_produto">Nome do Produto: </label>
                <input type="text" name="nome_produto" id="nome_produto" placeholder="Informe o nome do produto" value="<%= produto.nome_produto %>">
            </div>
    
            <div>
                <label for="tipo">Tipo do produto: </label>
                <input type="text" name="tipo_produto" id="tipo_produto" placeholder="Novo / Usado" value="<%= produto.tipo_produto %>">
            </div>

            <div>
                <label for="tipo">Descrição do produto: </label>
                <input type="text" name="descricao_produto" id="descricao_produto" placeholder="Informe um pouco sobre o produto" value="<%= produto.descricao_produto %>">
            </div>
            
            <div>
                <label for="tipo">Bairro: </label>
                <input type="text" name="bairro" id="bairro" placeholder="Informe o bairro" value="<%= produto.bairro %>">
            </div>
            
            <div>
                <label for="tipo">Municipio: </label>
                <input type="text" name="municipio" id="municipio" placeholder="Informe o municipio" value="<%= produto.municipio %>">
            </div>

            <div>
                <label for="imagem">Imagem: </label>
                <input type="text" name="imagem" id="imagem" placeholder="Digite o link da imagem" value="<%= produto.imagem %>">
            </div>   
        
            <button type="submit">Editar</button>
        </form>
    </section>
    <% }  %>

    <script src="/public/js/script.js"></script>
</body>

</html>